@CHARSET "UTF-8";

.navbar-inverse  .navbar-brand {
	color: #F05A1A;
	font-weight: bold;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #FFA57E;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #CCCCCC;
}

.navbar-inverse .navbar-toggle {
    border-color: #CCCCCC;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCCCCC;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
    color: #3d3d3d;
    font-size: 1.1em;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
}


.entry-title {
    color: #303030;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 4px;
    margin-left: 2px;
}

.entry-desc {
	margin-bottom: 1em;
}

.entry-content {
    margin-left: 2em;
    display: inline-block;
    width: 92%;
}
.entry-edit {
    font-size: 1.3em;
    vertical-align: middle;
}

pre.prettyprint {
	width: 100%;
}

.clip_button {
    font-size: 14pt;
    margin-left: 6px;
    margin-top: 11px;
    vertical-align: top;
}

.label-git {
	background-color: #428BCA;
}

.label-bash {
    background-color: #5CB85C;
}

.label {
    vertical-align: middle;
    margin: 2px;
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .navbar-form.navbar-right:last-child {
        margin-right: 15px;
    }
    
    .entry-content {
        width: 88%;
    }
    
}

@media screen and (min-width:768px) and (max-width:991px) {
    .navbar-form.navbar-right:last-child {
        margin-right: 0;
    }
    .entry-content {
        width: 86%;
    }
    
    .clip_button {
        margin-left: 6px;
    }
}
@media screen and (min-width:540px) and (max-width:767px) {    
	.entry-content {
        width: 82%;
    }
}

@media screen and (max-width:539px) {    
    .clip_button {
        display: none;
    }
}